
.noto-serif-title{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-avarage {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ------Shared colors----- */
.primary-color{
  color: #E95A08;
}

.nav-color{
  color: #8987A1;
}

.black{
  color: black;
}

.dark-2{
  color: #00000074;
}

/* --------Shared styles------- */

.btn-primary{
  width: 15.4rem;
  height: 3.125rem;
  font-size: 1.2rem;
  color: white;
  background-color: #E95A08;
}
.section-title{
  font-weight: bold;
  font-size: 3.2rem;
}

.d-flex{
    display: flex;
}

.bold{
  font-weight: bold;
}



/* Navbar related style */
nav{
   display: flex; 
   justify-content: space-between;
   align-items: center;
   margin: 25px 150px 120px;
}

.nav-items{   
    display: flex;
    justify-content: center;
    
}

nav ul li{
  list-style: none;
   margin-left: 50px;
}

nav ul li a{
   
text-decoration: none;
    
}

/* Banner related style */
.banner{
  margin: 0px 150px;
}

.banner-title{
  font-weight: bold;
  font-size: 4rem;
}

.banner-description{
  font-size: 1.4rem;
}

/* Production section relates style */

.product-section{
  margin: 0 130px 0px; 
}

.product-content{
  text-align: center;
  margin-bottom: 50px;


}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  
  
  
  

}

.product-container img {
  width: calc(100% - 20px);

}


.product-box{
  height: auto;
  width: 100%;
  margin-bottom: 20px;

  

}

.product-img{
  
}


.product-name{
  font-size: 22px;
  font-weight: 500;
  margin: 10px auto 10px;
  text-align: center;
}

.price{
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin: 10px auto;
 
}

.flower-content li{
  font-size: 1.3rem;
}

/* ----- flower section ------ */
.flower-section{
  margin: 120px 130px 150px;
  align-items: center;
  justify-content: center;

}

.flower-images{
  max-width: 650px;
}

.flower-img{
  width: 540px;
  height: 600px;
  
}

.inner{
  transform: translateX(-170px) translateY(-100px);
}

.trusted{
  width: 285px;
  height: 285px;
}

/* ----- Leatest deal section ----- */

.deal-section{
  text-align: center;
  margin: 0 130px auto;
}

.offer-section{
  margin: 140px 130px;
  
}


.row-1{
  background-image: url(../assets/deal-bloom.png);
  background-repeat: no-repeat;
  width: 370px;
  height: 200px;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  
}

.row-2{
  background-image: url(../assets/deal-ana.png);
  background-repeat: no-repeat;
  width: 370px;
  height: 200px;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row-3{
  background-image: url(../assets/deal-zabo.png);
  background-repeat: no-repeat;
  width: 750px;
  height: 420px;
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}



.offer-title {
  font-weight: 600;
  font-size: 20px;
  color: white;
  margin-bottom: 0;
}

.shop-now{
  font-weight: 600;
  color: white;
}

.main-title{
  color: white;
  margin-bottom: 0;
}

.subtitle{
  font-size: 1.9rem;
  font-weight: 600;
}

.offer-section a{
  color: white;
}

/* ---- Join section ---- */
.join-section{
  height: 533px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../assets/news-letter-bg.png);
  background-repeat: no-repeat;
  margin-bottom: 50px;
  
   
}

.join-section-title{
  color: white;
}

.join-form{
  text-align: center;
  justify-content: center;
  
}

input{
  width: 40.35rem;
}

/* ---- Footer ralated style ---- */

footer{
  margin: 0 130px 50px;
  display: flex;
  justify-content: space-between;
  
}

.footer-column{
  
}

.footer-column ul li{
  list-style: none;
  margin-bottom: 10px;
}

.footer-column a{
  text-decoration: none;
  color: #8987A1;
}

.footer-icons a{
  margin-right: 1.5rem;
}

@media  screen and (max-width:576px) {

  .product-container{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  }

  .product-content{
    
  }

  .navbar{
    justify-content: space-between;
    margin: 15px 20px 30px;
  }

  .hidden{
    display: none;

  }

  .logo{
    width: 4rem;
    height: 2.3rem;
  }

  .banner{
    flex-direction: column-reverse;
    margin: auto;
    
    
  }

  .banner-content{
    margin: 1rem 1.5rem 4rem;
  }

  .banner-img{
    width: 100%;
    margin: auto;
  }

  .product-section{
    margin: auto 16px;
  }

  .product-btn{
    width: calc(100% - 20px);
  }

  .flower-section{
    margin: 100px 20px 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: 500px;
  }

 .flower-images{
  
 }

 .inner{
  display: none;
 }

 .flower-content{
  text-align: center;
  width: 500px;
 }

 .deal-section{
  margin: 20px;
 }

 .offer-section{
  flex-direction: column;
  margin: 20px;
  gap: 10px;
  
 }

 .row-3{
  margin-left: auto;
  width: 100%;
  text-align: center;
 }

 .join-form{
  width: 100%;
  height: auto;
 }

 footer{
  margin: 50px 20px;
  flex-direction: column;
 }

 footer ul{
  padding-left: 0px;
 }




}

