
.noto-serif-title{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-avarage {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ------Shared style----- */
.primary-color{
  color: #E95A08;
}

.nav-color{
  color: #8987A1;
}

.black{
  color: black;
}

.dark-2{
  color: #00000074;
}

.d-flex{
    display: flex;
}

.bold{
  font-weight: bold;
}



/* Navbar related style */
nav{
   display: flex; 
   justify-content: space-between;
   align-items: center;
   margin: 25px 150px 120px;
}

.nav-items{   
    display: flex;
    justify-content: center;
    
}

nav ul li{
  list-style: none;
   margin-left: 50px;
}

nav ul li a{
   
text-decoration: none;
    
}

/* Banner related style */
.banner{
  margin: 0px 150px;
}

.banner-title{
  font-weight: bold;
  font-size: 4rem;
}

.banner-description{
  font-size: 1.4rem;
}

@media  screen and (max-width:576px) {

  .navbar{
    justify-content: space-between;
    margin: 15px 20px 30px;
  }

  .hidden{
    display: none;

  }

  .logo{
    width: 4rem;
    height: 2.3rem;
  }

  .banner{
    flex-direction: column-reverse;
    margin: auto;
    
    
  }

  .banner-content{
    margin: 1rem 1.5rem 4rem;
  }

  .banner-img{
    width: 100%;
    margin: auto;
  }

}

